<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_202020.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <_202020.Properties.Settings>
            <setting name="NotificationsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotificationStartSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotificationStopSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotificationTextEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotificationText" serializeAs="String">
                <value>Look at something 20 feet away for 20 seconds!</value>
            </setting>
            <setting name="TBBhours" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TBBminutes" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="TBBseconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BLhours" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BLminutes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BLseconds" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="PlayPauseShortcut" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FastForwardShortcut" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartVolume" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="StopVolume" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ShowInAltTab" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RunInTaskbar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayPauseSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayPauseVolume" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="RunAtStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FullScreenNotifications" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotificationFocused" serializeAs="String">
                <value>True</value>
            </setting>
        </_202020.Properties.Settings>
    </userSettings>
</configuration>